---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <Font cssVariable="--font-noto-serif" />
    <Font cssVariable="--font-work-sans" />
    <title>{title} | Maui Rose Events</title>
    <ClientRouter />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
